.home_wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.home_left {
  width: 625px;
  float: left;
  margin-left: 15px;
  padding-top: 30px;
  img {
    width: 625px;
    height: 240px;
  }
}
.home_right {
  width: 240px;
  float: right;
}
