.detail_wrapper {
  overflow: hidden;
  width: 620px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.header {
  margin: 50px 0 20px 0;
  line-height: 44px;
  font-size: 30px;
  color: #333;
  font-weight: bold;
}
.img_container {
  text-align: center;
  p {
    font-size: 16px;
    color: #404040;
    line-height: 25px;
  }
  img {
    height: 383px;
    object-fit: contain;
  }
}
